@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.home {
  margin-top: 40px;
}

.title {
  color: hsl(171, 100%, 41%);
  margin-top: 60px;
}

h1 {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

h3, h5, p {
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
}

.input {
  margin-top: 30px;
  margin-bottom: 10px;
}

.define {
  margin-top: 20px;
}

.search-again{
  margin: 50px, 0px;
}

.button {
  margin: 0px 5px;
}

.none{
  display: none;
}

.inactive{
  display: normal;
}

.card {
  margin: 40px;
}

.card-header-title{
  background-color: hsl(171, 100%, 41%);
  border-radius: 5px;
}


